.language-buttons {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.language-buttons button {
  border: none;
  cursor: pointer;
}

.language-buttons button {
  background-size: cover;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.language-buttons button:hover {
  transform: scale(1.1);
}

.language-buttons button:active {
  transform: scale(0.9);
}

.language-buttons button.en {
  background-image: url("../../../../public/assets/languages/english.png");
}

.language-buttons button.es {
  background-image: url("../../../../public/assets/languages/spanish.png");
}
