.container-back {
    display: flex;
    justify-content: start;
    position: absolute;
    z-index: 1;
    padding: 1rem;
}

.icon-back {
    width: 4rem;
    transition: transform 0.3s ease; 
    cursor: pointer; 
}

.icon-back:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
    cursor: pointer; 
}
