.container-slider-sign {
  position: absolute;
  z-index: 1;
  width: 65%;
  height: 65%;
  padding: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(74, 24, 28, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 1; 
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-slider-sign::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: blur(2px);
  z-index: -1;
  filter: blur(2px);
  border-radius: inherit;
}

.slider-sign-title {
  color: rgb(3, 255, 3);
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
}

.slider-sign-subtitle {
  color: rgb(255, 212, 147);
  font-size: xx-large;
  font-weight: 600;
}

.slider-sign-content {
  color: rgb(255, 255, 255);
  font-size: x-large;
}


.slider-content {
  text-align: center;
  padding: 0rem 2rem;
}

.slick-dots li button:before {
  color: rgb(255, 255, 255) !important;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 223, 175) !important;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(255, 248, 176) !important;
  font-size: 24px !important;
  line-height: 0 !important;
}

.close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white; 
}

.close-button:hover {
  color: rgb(255, 255, 255); 
}

.slider-sign-image {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.slider-sign-image img {
  height: 25vh;
  object-fit: contain;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(255, 224, 141, 0.5)); 
  transition: box-shadow 0.3s ease-in-out; 
}

.slider-sign-link{
  color: rgb(255, 255, 255);
  font-size: x-large;
  word-wrap: break-word;
}

.slick-dots{
  bottom: -4rem !important  ;
}


/* Media Queries for responsiveness */

@media (max-width: 1280px) {
  .container-slider-sign {
    width: 60%;
    height: 50%;
  }

  .slider-sign-image img {
    height: 10vh;
  }
}

@media (max-width: 768px) {
  .container-slider-sign {
    width: 60%;
    height: 50%;
  }

  .slider-sign-title {
    font-size: larger;
  }

  .slider-sign-subtitle {
    font-size: large;
  }

  .slider-sign-content {
    font-size: medium;
  }

  .slider-content {
    padding: 0rem;
  }

  .slider-sign-link{
    font-size: small;

  }

  .slider-sign-image img {
    height: 8vh;
  }
  
}

@media (max-width: 480px) {
  .container-slider-sign {
    width: 60%;
    height: 50%;
  }

  .slider-sign-title {
    font-size: medium;
  }

  .slider-sign-subtitle {
    font-size: medium;
  }

  .slider-sign-content {
    font-size: small;
  }

  .slider-content {
    padding: 0rem;
  }

  .slider-sign-link{
    font-size: small;
  }

  .slider-sign-image img {
    height: 8vh;
  }
}
